#logo {
    position: relative;
    top: 0px;
    left: 30%;
}

header .user {
    position: relative;
    top: 0px;
    left: -20px;
}

#user {
    border-radius: 50%;
    border: solid;
    border-width: 1px;;
}

